<div class="col-xs-12">

<h1 class="oswald_font clint_blue">Artists</h1>

<table class="table table-responsive table-bordered table-hover">
<tr>
  <th>Artist Name</th>
    <th>Songs</th>
  <th>Actions</th>
</tr>

  <tr>
<% @artists.each do |artist| %>
    <td><%= link_to "#{artist.name}", artist_path(artist) %></td>
<td> <%= link_to "Songs", artist_songs_path(artist) %> </td> 
<td> <%= link_to "Edit", edit_artist_path(artist), :class => 'btn btn-clint_blue btn-sm' %>
<%= link_to "Delete", artist_path(artist), method: :delete, data: { confirm: "Are you sure?"}, :class => 'btn btn-danger btn-sm' %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to "Add Artist", new_artist_path, :class => 'btn btn-default btn-lg' %>
</div>